{% extends 'base.html.twig' %}

{% block title %}Créer un Nouvel Enseignant{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Créer un Nouvel Enseignant</h1>

    <div class="card p-4 shadow-sm">
        {{ include('enseignant/_form.html.twig') }}
    </div>

    
    <div class="text-center mt-4">
        <a href="{{ path('app_enseignant_index') }}" class="btn btn-secondary">Retour à la liste</a>
    </div>
</div>
{% endblock %}
