{% extends 'base.html.twig' %}

{% block title %}New Reserve{% endblock %}

{% block body %}
    <h1>Create new Reserve</h1>

    {{ include('reserve/_form.html.twig') }}

    <a href="{{ path('app_reserve_index') }}">back to list</a>
{% endblock %}
