{% extends 'base.html.twig' %}

{% block title %}Recherche des Réservations{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Rechercher des Réservations par Salle</h1>


    <div class="card shadow-sm p-4">
        {{ form_start(form) }}

            <div class="mb-3">
                {{ form_label(form.salle, 'Sélectionner une Salle', {'class': 'form-label'}) }}
                {{ form_widget(form.salle, {'attr': {'class': 'form-select'}}) }}
            </div>

            <div class="mt-4 text-center">
                <button type="submit" class="btn btn-primary">Rechercher</button>
            </div>

        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
