{% extends 'base.html.twig' %}

{% block title %}Modifier la Vente{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Modifier la Vente</h1>

    <div class="card shadow-sm p-4">
        {{ include('sale/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    </div>

    <div class="text-center mt-4">
        <a href="{{ path('app_sale_index') }}" class="btn btn-secondary">Retour à la liste</a>
    </div>

    <div class="mt-4 text-center">
        {{ include('sale/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
